/* CSS for mp4 */
#bgVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.MagicScroll[data-mode="carousel"] {
    background-color: rgba(255, 0, 0, 0);
}

#carouselDiv {
    padding-top: 700px;
}
